

body {
    background-color: bisque;
}

h1 {
    font-size: 96;
    color: honeydew;
    text-shadow: 1px 1px black;
    text-align: center;
}

h3 {
    color: pink;
    text-shadow: 1px 1px black;
    border-style: outset;
    border-color: black;
    border-color: honeydew;
    background-color: LightGoldenRodYellow;
    font-size: 30;
}
img src {
    border-style: outset;
    text-align: center;
}
.gifs {
    padding-left: 55px;
}

.text {
    text-align: center
}

.align {
    padding-left: 7px;
}

.Home {
    font-size: 54;
    text-align: center;
    color: DarkOliveGreen;
}

.style {
    opacity:0.5 ;
}

.padding1 {
    padding-left:100px;
}

style {
    filter: opacity(0.2);
}