

body {
    background-color: bisque;
}

h1 {
    color: honeydew;
    text-shadow: 1px 1px black;
    text-align: center;
}

h3 {
    color: pink;
    text-shadow: 1px 1px black;
    border-style: outset;
    border-color: honeydew;
}